@import '../../vendor/filament/filament/resources/css/theme.css';
@import '../../node_modules/leaflet/dist/leaflet.css';

.leaflet-default-icon-path { /* used only in path-guessing heuristic, see L.Icon.Default */
    background-image: url(/vendor/gis-tools/images/marker-icon.png) !important;
}
.leaflet-control-layers-toggle {
    background-image: url(/vendor/gis-tools/images/layers.png) !important;
}

.leaflet-retina .leaflet-control-layers-toggle {
    background-image: url(/vendor/gis-tools/images/layers-2x.png) !important;
}
